{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block body %}
<ul>
    <li>
        <a href="{{ path('ecm_articles_admin')}}">Administration des articles</a>
        
    </li>
    <li>
        <a href="{{ path('admin_sponsor')}}">Administration des sponsors</a>
        
    </li>
</ul>
{% endblock %}