{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block titre %}
    <h1>{{ article.titre }}</h1>
    
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>
                {{ article.corps | raw }}
            </p>
        </div>
    </div>
{% endblock %}