{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block titre %}
    <h1>Nous contacter</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>
                Deux sites mais une seule adresse électronique : <u>contact@ecmchess.fr</u>
                <br><br>
                <b>Tour de la Babote : 04.67.60.56.19</b><br>
                1 boulevard Victor Hugo<br>
                34000 Montpellier<br>
                <b>La Mounéda : 04.67.52.32.49</b><br>
                Les Jardins d’Ô, bâtiment B<br>
                46 rue de la Mounéda<br>
                34090 Montpellier<br>
                Notre local de la Mounéda est pleinement accessible aux personnes à mobilité réduite.<br>
                Pour toute question concernant nos événements, merci de nous écrire à <u>evenements@ecmchess.fr</u><br>
            </p>
        </div>
    </div>
{% endblock %}