{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block titre %}
    <h1>Horaires d'ouverture</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>
                Horaires d’ouverture Salle de jeu « Centre-Comédie » (Tour de la Babote, 1bd Victor Hugo, Montpellier)<br>
                Mardi : 15h-19h<br>
                Mercredi : 14h-19h<br>
                Jeudi : 15h-19h<br>
                Vendredi : 15h-21h<br>
                Samedi : 15h-19h<br>
                Pendant les vacances scolaires :<br>
                Toussaint (du dimanche 19 octobre au 3 novembre 2014), Hiver (du dimanche 8 février au lundi 23 février 2015) et Printemps (du dimanche 12 avril au lundi 27 avril 2015)<br>
                Du lundi au vendredi : 15h – 19h<br>
                Noël (du samedi 20 décembre 2014 au lundi 5 janvier 2015) : Fermeture<br>
                Eté (du samedi 4 juillet au lundi 31 août 2015) : Fermeture du samedi 4 au lundi 13 juillet et du samedi 1er au lundi 24 août. Du lundi 13 au vendredi 31 juillet, ouverture du lundi au vendredi de 15h à 19h.<br>

                Horaires d'ouverture site « Hôpitaux-Facultés » (46 Rue de la Mouneda, Res. Les Jardins d'Ô, Montpellier)<br>
                Mardi     18h-19h30<br>
                Mercredi 17h-19h<br>
                Vendredi 17h-20h<br>
                Accessible aux personnes à mobilité réduite.<br>
                Fermé pendant les vacances scolaires (l'été fermeture à partir du samedi 27 juin).<br>
            </p>
        </div>
    </div>
{% endblock %}