{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block titre %}
    <h1>Les responsables du club</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>
                Les membres du Conseil d’Administration, élus lors de l’AG du samedi 6 septembre 2014 pour un mandat de deux ans sont :<br>
                Nicolas Arnaud,<br>
                Frédéric Dijoux,<br>
                Michel Hoffmann,<br>
                Hervé Louche,<br>
                Gérard Martinez,<br>
                Samia Roustant,<br>
                Jacques Sambuc,<br>
                Pierre-Yves Schmitt.<br>

                Membres du Bureau Exécutif, élus par le CA:<br>
                Président: Hervé Louche (Directeur Sportif, Directeur Vie Club)<br>
                Secrétaire: Pierre-Yves Schmitt<br>
                Trésorier: Jacques Sambuc<br>
                Trésorier Adjoint: Frédéric Dijoux (Directeur des Evènements)<br>
                Samia Roustant (Directrice Adjointe Vie club déléguée à la relation parents - jeunes)<br>
                Gérard Martinez (Pilote mission jumelage et mission développement animations externes/échiquiers géants)<br>

                En cas de vacance du Président:<br>
                1er Vice-président: Nicolas Arnaud<br>
                2ème Vice-président: Michel Hoffmann<br>
            </p>
        </div>
    </div>
{% endblock %}