{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block titre %}
    <h1>Tarif des cotisations 2014-2015</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <p>
                TARIFS DES COTISATIONS POUR LA SAISON 2014-2015<br>
                Formule « Sport Club »<br>
                -          licence A<br>
                -          accès aux salles de jeu et  à toutes les compétitions  individuelles de la FFE et de la FIDE<br>
                -          compétitions par équipes<br>
                -          cours collectifs, entrainements et cours spécifiques jeunes<br>
                -          animations et cours loisirs Vie Club<br>
                -          remise de 30% sur les inscriptions aux événements organisés par le club<br>
                -          avantages partenaires avec la carte « Sport Club ».<br>
                adultes : 160 €<br>
                jeunes : 150 €<br>
                tarif minoré pour les étudiants, demandeurs d'emploi, bénéficiaires du RSA ou de l'AH : 100 €<br>
                Formule « Echecs Loisirs »<br>
                -          licence B<br>
                -          accès aux salles de jeu et aux compétitions individuelles de parties rapides<br>
                -          cours collectifs<br>
                -          animations et cours loisirs Vie Club<br>
                adultes : 120 €<br>
                jeunes :  110 €<br>
                tarif minoré pour les étudiants, demandeurs d'emploi, bénéficiaires du RSA ou de l'AH : 75 €<br>
                Nous proposons également, sur demande :<br>
                -          cours individuels ou en binôme avec un entraineur titré du club  (participation en sus)<br>
                -          création de nouveaux groupes par niveau avec des cours adaptés<br>
                Aide aux familles : remise de 10% pour deux licences, 15% pour trois licences, 20% pour quatre licences et plus.<br>
                Tarifs spécifiques (sur demande) :<br>
                ●        Joueurs/joueuses titré(e)s : cotisation offerte<br>
                ●        Joueurs 2200+ : remise de 50 € sur la contribution club et licence offerte (première saison offerte)<br>
                ●        Joueuses 1800+ : cotisation offerte<br>
                ●        Joueuses 1600+ : remise de 50 €<br>

                Remarques :
                ●        Aucune licence FFE ne sera prise sans le règlement complet de la cotisation ou le dépôt d'un ou de plusieurs chèques à encaisser en différé.<br>
                ●        Les « jeunes » sont les adhérent(e)s appartenant aux catégories Petit poussin à Junior (20 ans).<br>
                ●        Un jeune adhérent se trouvant à la charge d'un parent étudiant, demandeur d'emploi, bénéficiaire du RSA ou de l'AH, se verra accorder un tarif minoré par rapport au tarif « jeune » prévu.<br>
                ●        Toute personne n’entrant pas dans les cas de figure permettant l'accès au tarif minoré, peut saisir la commission d’aide aux membres du club dans le cas où elle estime devoir en bénéficier.<br>
            </p>
        </div>
    </div>
{% endblock %}