

<nav class="navbar navbar-default pull-left" role="navigation">
{{ knp_menu_render('main', {'currentClass': 'active'}) }}
</nav>
<nav class="navbar navbar-default pull-right" role="navigation">
    {% if is_granted('ROLE_USER') %}
        {{ knp_menu_render('user', {'currentClass': 'active'}) }}     
        {% if is_granted('ROLE_ADMIN') %}
            {{ knp_menu_render('admin', {'currentClass': 'active'}) }}
        {% endif %}
    {% else %}
        {{ knp_menu_render('anonymous', {'currentClass': 'active'}) }}  
    {% endif %}     
</nav>