{% extends 'ECMAdminBundle::layout.html.twig' %}

{% block titre %}
    <h1>Création d'un sponsor</h1>
{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_sponsor') }}">
            Retourner à la liste des sponsors
        </a>
    </li>
</ul>
{% endblock %}
