
{% block sponsors %}
    <ul class="nav nav-pills nav-stacked">
    {% for sponsor in sponsors %}
        <li>
        {% if sponsor.urlImage != "" %}
        <a href="{{ sponsor.lien }}" target="_blank">
            <img src="{{ asset('images/sponsors/' ~ sponsor.urlImage ) }}" class="img-thumbnail">
        </a>
        {% else %}
        <a href="{{ sponsor.lien }}" target="_blank">
            {{ sponsor.titre }}
        </a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}