{% extends 'ECMHomeBundle::layout.html.twig' %}




{% block titre %}
    <h1>{{ menu | upper }}</h1>

{% endblock %}


{% block body %}
    {% for article in articles %}
        <div class="row">
            <div class="col-lg-12">



                <h2>{{ article.titre }}</h2>
                <p>
                    {{ article.corps | raw }}
                </p>
                <div class="pull-right">{{ article.auteur }}</div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}