{% extends 'ECMHomeBundle::layout.html.twig' %}

{% block body -%}
    <h2>{{ entity.nom }}</h2>

    <table class="table table-striped">
        <tbody>
        <img src="/ecmchess/web/images/uploads/{{ entity.image.webPath }}" class="product-img">
        <tr>
            <td><h3>Desciption :</h3> {{ entity.description }}</td>
        </tr>
        <tr>
            <td>
                <div>{{ entity.prix }} €</div>
            </td>
        </tr>

    </table>


{% endblock %}